apiVersion: apps/v1
kind: Deployment
metadata:
  name: transaction-service-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transaction-service
  template:
    metadata:
      labels:
        app: transaction-service
    spec:
      containers:
        - name: transaction-service
          image: mmihailovic/transaction-service:latest
          ports:
            - containerPort: 8083