name: CI/CD Pipeline for building docker images and deployment to kubernetes

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [ user-service-kotlin, bank-service-kotlin, stock-market-service-kotlin, transaction-service, notification-service ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build module
        run: |
          cd ${{ matrix.module }}
          mvn -B clean package

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker image
        run: |
          IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.module }}:latest
          cd ${{ matrix.module }}
          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME

  deploy:
    # TODO: Add Helm chart deployment
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      - name: Set up kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Deploy to Kubernetes
        run: |
          MODULES=("user-service-kotlin" "bank-service-kotlin" "stock-market-service-kotlin" \
          "transaction-service" "notification-service=deployment")
          
          for MODULE_NAME in "${MODULES[@]}"; do
            DEPLOYMENT_NAME="${MODULE_NAME}-deployment"
            DEPLOYMENT_FILE="${MODULE_NAME}-deployment.yaml"
            SERVICE_FILE="${MODULE_NAME}-service.yaml"
          
            if kubectl get deployment $DEPLOYMENT_NAME > /dev/null 2>&1; then
              kubectl rollout restart deployment/$DEPLOYMENT_NAME
            else
              kubectl apply -f "k8s/$DEPLOYMENT_FILE"
              kubectl apply -f "k8s/$SERVICE_FILE"
            fi
          done
